.contactUsForm {
  padding: 0 0 5.3333333333vw;
}
.contactUsForm h3 {
  margin-bottom: 12px;
}
.contactUsForm .formContactUs .inputField .label {
  margin-bottom: 3.7333333333vw;
}
.contactUsForm .formContactUs .inputField .label ul {
  position: absolute;
  background: #000000;
  padding: 2.6666666667vw;
  border-radius: 0 0 12px 12px;
  -webkit-border-radius: 0 0 12px 12px;
  -moz-border-radius: 0 0 12px 12px;
  -ms-border-radius: 0 0 12px 12px;
  -o-border-radius: 0 0 12px 12px;
}
.contactUsForm .formContactUs .inputField .label ul li {
  cursor: pointer;
  list-style-type: none;
  margin: 2.6666666667vw 0;
}
.contactUsForm .formContactUs .inputField label {
  display: block;
  margin-bottom: 2.6666666667vw;
  font-size: 4.2666666667vw;
  font-weight: 700;
}
.contactUsForm .formContactUs .inputField input {
  width: 100%;
  height: 40px;
  border: 1px solid gray;
  padding: 0 10px;
  background: #242424;
  border-radius: 6px;
  color: white;
}
.contactUsForm .formContactUs .inputField input:focus {
  outline: none;
}
.contactUsForm .formContactUs .inputFieldTextarea {
  margin-bottom: 20px;
}
.contactUsForm .formContactUs .inputFieldTextarea textarea {
  width: 100%;
  height: 80vw;
  border: 1px solid gray;
  padding: 0 10px;
  background: #242424;
  border-radius: 6px;
  color: white;
  margin-top: 2.6666666667vw;
}
.contactUsForm .formContactUs .inputFieldTextarea textarea:focus {
  outline: none;
}
.contactUsForm .formContactUs .btnSubmitRequest {
  display: flex;
  align-items: center;
  justify-content: center;
}
.contactUsForm .formContactUs .btnSubmitRequest a {
  text-decoration: none;
  font-size: 5.3333333333vw;
  padding: 2.6666666667vw 8vw;
  border-radius: 6px;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  -ms-border-radius: 12px;
  -o-border-radius: 12px;
  background-color: #721F31;
  color: white;
  margin: 0 auto;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
}
.contactUsForm .formContactUs .btnSubmitRequest a:hover {
  color: #721F31;
  background-color: white;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
}

@media (min-width: 766px) and (max-width: 1199px) {
  .contactUsForm {
    padding: 2.3980815348vw 0;
  }
  .contactUsForm .formContactUs .inputField {
    display: flex;
    gap: 30px 20px;
  }
  .contactUsForm .formContactUs .inputField .label {
    width: 50%;
    margin-bottom: 1.6786570743vw;
  }
  .contactUsForm .formContactUs .inputField .label ul {
    padding: 1.1990407674vw;
  }
  .contactUsForm .formContactUs .inputField .label ul li {
    margin: 1.1990407674vw 0;
  }
  .contactUsForm .formContactUs .inputField label {
    margin-bottom: 1.1990407674vw;
    font-size: 1.9184652278vw;
  }
  .contactUsForm .formContactUs .inputFieldTextarea textarea {
    width: 100%;
    height: 35.9712230216vw;
    border: 1px solid gray;
    padding: 0 10px;
    background: #242424;
    border-radius: 6px;
    color: white;
    margin-top: 1.1990407674vw;
  }
  .contactUsForm .formContactUs .btnSubmitRequest a {
    font-size: 2.3980815348vw;
    padding: 1.1990407674vw 3.5971223022vw;
  }
}
@media (min-width: 1200px) {
  .contactUsForm {
    padding: 2.0833333333vw 0;
  }
  .contactUsForm h3 {
    font-size: 2.96875vw;
  }
  .contactUsForm .formContactUs .inputField {
    display: flex;
    gap: 30px 20px;
  }
  .contactUsForm .formContactUs .inputField .label {
    width: 50%;
    margin-bottom: 0.7291666667vw;
  }
  .contactUsForm .formContactUs .inputField .label ul {
    padding: 0.5208333333vw;
  }
  .contactUsForm .formContactUs .inputField .label ul li {
    margin: 0.5208333333vw 0;
  }
  .contactUsForm .formContactUs .inputField label {
    margin-bottom: 0.5208333333vw;
    font-size: 18px;
  }
  .contactUsForm .formContactUs .inputFieldTextarea textarea {
    width: 100%;
    height: 15.625vw;
    margin-top: 0.5208333333vw;
  }
  .contactUsForm .formContactUs .btnSubmitRequest a {
    font-size: 1.7708333333vw;
    padding: 0.5208333333vw 1.5625vw;
  }
}