.navList {
  padding: 5.3333333333vw;
  background-color: #181818;
}
.navList .navLogo {
  display: flex;
  justify-content: space-between;
}
.navList .navLogo img {
  width: 13.3333333333vw;
  height: auto;
}
.navList .navLink {
  position: absolute;
  width: 100%;
  left: 0;
  opacity: 0;
  z-index: -1;
  padding: 20px;
  background-color: #181818;
  height: auto;
  transition: all 0.7s ease-in-out;
  -webkit-transition: all 0.7s ease-in-out;
  -moz-transition: all 0.7s ease-in-out;
  -ms-transition: all 0.7s ease-in-out;
  -o-transition: all 0.7s ease-in-out;
}
.navList .navLink ul {
  margin-top: 10px;
}
.navList .navLink li {
  list-style-type: none;
  padding: 5px 0;
}
.navList .navLink a {
  text-decoration: none;
  color: white;
  font-weight: 600;
}
.navList .navLinkShow {
  opacity: 1;
  z-index: 2;
  transition: all 0.7s ease-in-out;
  -webkit-transition: all 0.7s ease-in-out;
  -moz-transition: all 0.7s ease-in-out;
  -ms-transition: all 0.7s ease-in-out;
  -o-transition: all 0.7s ease-in-out;
}
.navList .barResponservMobile img {
  width: 20px;
  height: auto;
}
.navList .navLinkDesktop {
  display: none;
}

@media (min-width: 766px) and (max-width: 1199px) {
  .navList {
    padding: 1.1990407674vw;
    background-color: #181818;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .navList .navLogo img {
    width: 5.9952038369vw;
  }
  .navList .navLinkDesktop {
    display: flex;
  }
  .navList .navLinkDesktop ul {
    display: flex;
    gap: 1.6786570743vw;
  }
  .navList .navLinkDesktop li {
    list-style-type: none;
  }
  .navList .navLinkDesktop a {
    font-size: 1.6786570743vw;
    text-decoration: none;
    color: white;
    font-weight: 600;
  }
  .navList .navLinkDesktop a.activeLink {
    color: #721F31;
  }
  .navList .navLink {
    display: none;
  }
  .navList .navLinkShow {
    display: none;
  }
  .navList .barResponservMobile {
    display: none;
  }
}
@media (min-width: 1200px) {
  .navList {
    padding: 1.0416666667vw 2.0833333333vw;
    background-color: #181818;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .navList .navLogo img {
    width: 5.2083333333vw;
  }
  .navList .navLinkDesktop {
    display: flex;
  }
  .navList .navLinkDesktop ul {
    display: flex;
    gap: 1.25vw;
  }
  .navList .navLinkDesktop li {
    list-style-type: none;
  }
  .navList .navLinkDesktop a {
    font-size: 1.3020833333vw;
    text-decoration: none;
    color: white;
    font-weight: 600;
  }
  .navList .navLinkDesktop a.activeLink {
    color: #721F31;
  }
  .navList .navLink {
    display: none;
  }
  .navList .navLinkShow {
    display: none;
  }
  .navList .barResponservMobile {
    display: none;
  }
}