.otherServices {
  padding: 8vw 0 0;
}
.otherServices h3 {
  font-size: 6.9333333333vw;
}
.otherServices p {
  margin-bottom: 30px;
}
.otherServices .sliderServices {
  display: flex;
  gap: 20px;
  width: 100%;
  overflow-x: scroll;
}
.otherServices .sliderServices .boxContent {
  cursor: pointer;
  position: relative;
  text-align: center;
}
.otherServices .sliderServices .boxContent img {
  width: 90.6666666667vw;
  border-radius: 16px;
}
.otherServices .sliderServices .boxContent .hoverImage .bgHover {
  opacity: 0;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3960784314);
}
.otherServices .sliderServices .boxContent .hoverImage a {
  opacity: 0;
  position: absolute;
  top: 37%;
  left: 50%;
  transform: translate(-50%, -50%);
  white-space: nowrap;
  text-decoration: none;
  color: white;
  padding: 2.6666666667vw 16vw;
  font-size: 4.2666666667vw;
  border: 1px solid white;
  border-radius: 12px;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  -ms-border-radius: 12px;
  -o-border-radius: 12px;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
}
.otherServices .sliderServices .boxContent .hoverImage:hover a,
.otherServices .sliderServices .boxContent .hoverImage:hover .bgHover {
  opacity: 1;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
}

@media (min-width: 766px) and (max-width: 1199px) {
  .otherServices {
    padding: 3.5971223022vw 0;
  }
  .otherServices h3 {
    font-size: 3.1175059952vw;
  }
  .otherServices .sliderServices .boxContent img {
    width: 40.7673860911vw;
  }
  .otherServices .sliderServices .boxContent .hoverImage a {
    padding: 1.1990407674vw 7.1942446043vw;
    font-size: 1.9184652278vw;
  }
}
@media (min-width: 1200px) {
  .otherServices {
    padding: 1.5625vw 0;
  }
  .otherServices h3 {
    font-size: 1.9791666667vw;
  }
  .otherServices p {
    font-size: 1.25vw;
  }
  .otherServices .sliderServices .boxContent img {
    width: 26.5625vw;
  }
  .otherServices .sliderServices .boxContent .hoverImage a {
    padding: 0.5208333333vw 3.125vw;
    font-size: 1.7708333333vw;
  }
}