.someofOurProjects {
  padding: 8vw 0;
}
.someofOurProjects h3 {
  font-size: 6.9333333333vw;
}
.someofOurProjects .projectShow img {
  width: 100%;
  height: 100%;
  filter: brightness(0.5);
  -webkit-filter: brightness(0.5);
}
.someofOurProjects .projectShow img:hover {
  filter: brightness(1);
  -webkit-filter: brightness(1);
}
.someofOurProjects .projectShow .swiper-slide {
  width: 26.6666666667vw !important;
  height: 26.6666666667vw;
}
.someofOurProjects .projectShow .swiper-button-prev,
.someofOurProjects .projectShow .swiper-button-next {
  color: rgb(174, 128, 28);
}
.someofOurProjects .projectShow .swiper-button-prev::after,
.someofOurProjects .projectShow .swiper-button-next::after {
  font-size: 5.3333333333vw !important;
  font-weight: 700 !important;
}

@media (min-width: 766px) and (max-width: 1199px) {
  .someofOurProjects {
    padding: 3.5971223022vw 0;
  }
  .someofOurProjects h3 {
    font-size: 3.1175059952vw;
  }
  .someofOurProjects .projectShow {
    margin-top: 2.3980815348vw;
  }
  .someofOurProjects .projectShow img {
    width: 17.9856115108vw;
  }
  .someofOurProjects .projectShow .swiper-slide {
    width: 17.9856115108vw !important;
    height: 17.9856115108vw;
  }
  .someofOurProjects .projectShow .swiper-button-prev,
  .someofOurProjects .projectShow .swiper-button-next {
    color: rgb(174, 128, 28);
  }
  .someofOurProjects .projectShow .swiper-button-prev::after,
  .someofOurProjects .projectShow .swiper-button-next::after {
    font-size: 2.3980815348vw !important;
  }
}
@media (min-width: 1200px) {
  .someofOurProjects {
    padding: 1.5625vw 0;
  }
  .someofOurProjects h3 {
    font-size: 1.9791666667vw;
  }
  .someofOurProjects p {
    font-size: 1.25vw;
  }
  .someofOurProjects .projectShow {
    justify-content: space-between;
    margin-top: 1.0416666667vw;
    gap: 100px;
  }
  .someofOurProjects .projectShow img {
    width: 7.8125vw;
  }
  .someofOurProjects .projectShow .swiper-slide {
    width: 10.4166666667vw !important;
    height: 10.4166666667vw;
  }
  .someofOurProjects .projectShow .swiper-button-prev,
  .someofOurProjects .projectShow .swiper-button-next {
    color: rgb(174, 128, 28);
  }
  .someofOurProjects .projectShow .swiper-button-prev::after,
  .someofOurProjects .projectShow .swiper-button-next::after {
    font-size: 2.0833333333vw !important;
  }
}