@use "../functionStyle/function" as c;

.someofOurProjects {
    padding: c.vw375(30) 0;

    h3 {
        font-size: c.vw375(26);
    }

    .projectShow {
        img {
            width: 100%;
            height: 100%;
            filter: brightness(0.5);
            -webkit-filter: brightness(0.5);

            &:hover {
                filter: brightness(1);
                -webkit-filter: brightness(1);
            }
        }

        .swiper-slide {
            width: c.vw375(100) !important;
            height: c.vw375(100);
        }

        .swiper-button-prev,
        .swiper-button-next{
            color: c.$arrowsSliderColor;
            &::after{
                font-size: c.vw375(20) !important;
                font-weight: 700 !important;
            }
        }
    }
}

@media (min-width: 766px) and (max-width: 1199px) {
    .someofOurProjects {
        padding: c.vw834(30) 0;

        h3 {
            font-size: c.vw834(26);
        }

        .projectShow {
            margin-top: c.vw834(20);
            img {
                width: c.vw834(150);
            }

            .swiper-slide {
                width: c.vw834(150) !important;
                height: c.vw834(150);
            }
    
            .swiper-button-prev,
            .swiper-button-next{
                color: c.$arrowsSliderColor;
                &::after{
                    font-size: c.vw834(20) !important;
                 }
            }
        }
    }
}

@media (min-width: 1200px) {
    .someofOurProjects {
        padding: c.vw1920(30) 0;

        h3 {
            font-size: c.vw1920(38);
        }

        p {
            font-size: c.vw1920(24);
        }

        .projectShow {
            justify-content: space-between;
            margin-top: c.vw1920(20);
            gap: 100px;
            img {
                width: c.vw1920(150);
            }

            .swiper-slide {
                width: c.vw1920(200) !important;
                height: c.vw1920(200);
            }
    
            .swiper-button-prev,
            .swiper-button-next{
                color: c.$arrowsSliderColor;
                &::after{
                    font-size: c.vw1920(40) !important;
                 }
            }
        }
    }
}
