.serviceSection {
  padding: 5.3333333333vw 0;
}
.serviceSection .filterLable {
  padding: 3.7333333333vw 0;
  display: flex;
  align-items: center;
  gap: 2.6666666667vw;
}
.serviceSection .filterLable p {
  cursor: pointer;
  padding: 0.5333333333vw 0;
  text-align: center;
  width: 100px;
  font-size: 3.7333333333vw;
  border-radius: 100px;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  -ms-border-radius: 100px;
  -o-border-radius: 100px;
}
.serviceSection .cardService .boxContent {
  width: 100%;
}
.serviceSection .cardService .boxContent .hoverImage {
  cursor: pointer;
  position: relative;
}
.serviceSection .cardService .boxContent .hoverImage img {
  width: 100%;
  height: 200px;
}
.serviceSection .cardService .boxContent .hoverImage .bgHover {
  opacity: 0;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3960784314);
}
.serviceSection .cardService .boxContent .hoverImage a {
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  white-space: nowrap;
  text-decoration: none;
  color: white;
  padding: 2.6666666667vw 16vw;
  font-size: 4.2666666667vw;
  border: 1px solid white;
  border-radius: 12px;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  -ms-border-radius: 12px;
  -o-border-radius: 12px;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
}
.serviceSection .cardService .boxContent .hoverImage:hover a,
.serviceSection .cardService .boxContent .hoverImage:hover .bgHover {
  opacity: 1;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
}
.serviceSection .cardService .boxContent p {
  font-weight: 700;
}
.serviceSection .btnSeeMoreSrvices {
  cursor: pointer;
  width: 100%;
  margin: 13.3333333333vw 0 0;
  display: flex;
}
.serviceSection .btnSeeMoreSrvices a {
  text-decoration: none;
  font-size: 5.3333333333vw;
  padding: 2.6666666667vw 8vw;
  border-radius: 6px;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  -ms-border-radius: 12px;
  -o-border-radius: 12px;
  background-color: #721F31;
  color: white;
  margin: 0 auto;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
}
.serviceSection .btnSeeMoreSrvices a:hover {
  color: #721F31;
  background-color: white;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
}

@media (min-width: 766px) and (max-width: 1199px) {
  .serviceSection {
    padding: 2.3980815348vw 0;
  }
  .serviceSection .filterLable {
    padding: 1.6786570743vw 0;
    gap: 1.1990407674vw;
  }
  .serviceSection .filterLable p {
    padding: 0.2398081535vw 0;
    font-size: 1.9184652278vw;
  }
  .serviceSection .cardService {
    display: flex;
    gap: 30px 20px;
    flex-wrap: wrap;
  }
  .serviceSection .cardService .boxContent {
    width: calc(50% - 10px);
  }
  .serviceSection .cardService .boxContent .hoverImage a {
    padding: 1.1990407674vw 7.1942446043vw;
    font-size: 1.9184652278vw;
  }
  .serviceSection .btnSeeMoreSrvices {
    margin: 5.9952038369vw 0;
  }
  .serviceSection .btnSeeMoreSrvices a {
    font-size: 2.3980815348vw;
    padding: 1.1990407674vw 3.5971223022vw;
  }
}
@media (min-width: 1200px) {
  .serviceSection {
    padding: 5.2083333333vw 0 0;
  }
  .serviceSection h3 {
    font-size: 2.96875vw;
  }
  .serviceSection p {
    font-size: 1.7708333333vw;
  }
  .serviceSection .filterLable {
    padding: 0.8333333333vw 0;
    gap: 0.7291666667vw;
    margin-bottom: 1.0416666667vw;
  }
  .serviceSection .filterLable p {
    padding: 0.3125vw 0;
    font-size: 1.0416666667vw;
  }
  .serviceSection .cardService {
    display: flex;
    gap: 30px 20px;
    flex-wrap: wrap;
  }
  .serviceSection .cardService .boxContent {
    width: calc(50% - 10px);
  }
  .serviceSection .cardService .boxContent .hoverImage img {
    height: 300px;
  }
  .serviceSection .cardService .boxContent .hoverImage a {
    padding: 0.5208333333vw 3.125vw;
    font-size: 1.7708333333vw;
  }
  .serviceSection .btnSeeMoreSrvices {
    margin: 4.1666666667vw 0;
  }
  .serviceSection .btnSeeMoreSrvices a {
    font-size: 1.7708333333vw;
    padding: 0.5208333333vw 1.5625vw;
  }
}