@function vw1920($px) {
    $m: calc($px / 1920);
    @return #{($m * 100)}vw;
}

@function vw1366($px) {
    $m: calc($px / 1366);
    @return #{($m * 100)}vw;
}

@function vw834($px) {
    $m: calc($px / 834);
    @return #{($m * 100)}vw;
}

@function vw375($px) {
    $m: calc($px / 375);
    @return #{($m * 100)}vw;
}



$burgundyColor: #721F31;
$whiteColor: white;
$goldColor: #faff00;
$blackColor: #181818;
$grayColorBlack: #353535;
$blackHoverImage: #00000065;
$blueColor: rgba(51, 41, 215, 1);
$gray8080Color: #808080;

