@import url("https://fonts.googleapis.com/css2?family=Tajawal:wght@200;300;400;500;700;800;900&display=swap");
.navTopPage {
  height: auto;
  width: 100%;
  padding: 2.6666666667vw;
  background-color: #721F31;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 3.2vw;
  font-weight: 700;
}
.navTopPage span {
  color: #faff00;
}

@media (min-width: 766px) and (max-width: 1199px) {
  .navTopPage {
    height: 3.5971223022vw;
    padding: 0.7194244604vw;
    font-size: 1.4388489209vw;
  }
}
@media (min-width: 1200px) {
  .navTopPage {
    height: 2.6041666667vw;
    padding: 1.0416666667vw;
    font-size: 1.0416666667vw;
  }
}
.navList {
  padding: 5.3333333333vw;
  background-color: #181818;
}
.navList .navLogo {
  display: flex;
  justify-content: space-between;
}
.navList .navLogo img {
  width: 13.3333333333vw;
  height: auto;
}
.navList .navLink {
  position: absolute;
  width: 100%;
  left: 0;
  opacity: 0;
  z-index: -1;
  padding: 20px;
  background-color: #181818;
  height: auto;
  transition: all 0.7s ease-in-out;
  -webkit-transition: all 0.7s ease-in-out;
  -moz-transition: all 0.7s ease-in-out;
  -ms-transition: all 0.7s ease-in-out;
  -o-transition: all 0.7s ease-in-out;
}
.navList .navLink ul {
  margin-top: 10px;
}
.navList .navLink li {
  list-style-type: none;
  padding: 5px 0;
}
.navList .navLink a {
  text-decoration: none;
  color: white;
  font-weight: 600;
}
.navList .navLink a.active {
  color: #721F31;
}
.navList .navLinkShow {
  opacity: 1;
  z-index: 2;
  transition: all 0.7s ease-in-out;
  -webkit-transition: all 0.7s ease-in-out;
  -moz-transition: all 0.7s ease-in-out;
  -ms-transition: all 0.7s ease-in-out;
  -o-transition: all 0.7s ease-in-out;
}
.navList .barResponservMobile img {
  width: 20px;
  height: auto;
}
.navList .navLinkDesktop {
  display: none;
}

@media (min-width: 766px) and (max-width: 1199px) {
  .navList {
    padding: 1.1990407674vw;
    background-color: #181818;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .navList .navLogo img {
    width: 5.9952038369vw;
  }
  .navList .navLinkDesktop {
    display: flex;
  }
  .navList .navLinkDesktop ul {
    display: flex;
    gap: 1.6786570743vw;
  }
  .navList .navLinkDesktop li {
    list-style-type: none;
  }
  .navList .navLinkDesktop a {
    font-size: 1.6786570743vw;
    text-decoration: none;
    color: white;
    font-weight: 600;
  }
  .navList .navLinkDesktop a.active {
    color: #721F31;
  }
  .navList .navLink {
    display: none;
  }
  .navList .navLinkShow {
    display: none;
  }
  .navList .barResponservMobile {
    display: none;
  }
}
@media (min-width: 1200px) {
  .navList {
    padding: 1.0416666667vw 2.0833333333vw;
    background-color: #181818;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .navList .navLogo img {
    width: 5.2083333333vw;
  }
  .navList .navLinkDesktop {
    display: flex;
  }
  .navList .navLinkDesktop ul {
    display: flex;
    gap: 1.25vw;
  }
  .navList .navLinkDesktop li {
    list-style-type: none;
  }
  .navList .navLinkDesktop a {
    font-size: 1.3020833333vw;
    text-decoration: none;
    color: white;
    font-weight: 600;
  }
  .navList .navLinkDesktop a.active {
    color: #721F31;
  }
  .navList .navLink {
    display: none;
  }
  .navList .navLinkShow {
    display: none;
  }
  .navList .barResponservMobile {
    display: none;
  }
}
.sliderBannerHome {
  height: 80vw;
  background-color: #353535;
}
.sliderBannerHome .autoplay-progress {
  position: absolute;
  bottom: 10px;
  right: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  z-index: 1;
}
.sliderBannerHome .autoplay-progress svg {
  transform: rotate(-90deg);
  width: 48px;
  height: 48px;
}
.sliderBannerHome .autoplay-progress circle {
  stroke: white;
  stroke-width: 4;
  stroke-dasharray: 126;
}
.sliderBannerHome .autoplay-progress span {
  position: absolute;
  font-size: 12px;
}
.sliderBannerHome .swiper-wrapper {
  height: 80vw;
}
.sliderBannerHome .swiper-slide img {
  width: 100%;
  height: 100%;
}
.sliderBannerHome .swiper-button-prev,
.sliderBannerHome .swiper-button-next {
  color: #721F31;
}

@media (min-width: 766px) and (max-width: 1199px) {
  .sliderBannerHome {
    height: 47.9616306954vw;
  }
  .sliderBannerHome .swiper-wrapper {
    height: 47.9616306954vw;
  }
}
@media (min-width: 1200px) {
  .sliderBannerHome {
    height: 36.4583333333vw;
  }
  .sliderBannerHome .swiper-wrapper {
    height: 36.4583333333vw;
  }
}
.serviceSection {
  padding: 5.3333333333vw 0;
}
.serviceSection .filterLable {
  padding: 3.7333333333vw 0;
  display: flex;
  align-items: center;
  gap: 2.6666666667vw;
}
.serviceSection .filterLable p {
  cursor: pointer;
  padding: 0.5333333333vw 0;
  text-align: center;
  width: 100px;
  font-size: 3.7333333333vw;
  border-radius: 100px;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  -ms-border-radius: 100px;
  -o-border-radius: 100px;
}
.serviceSection .cardService .boxContent {
  width: 100%;
}
.serviceSection .cardService .boxContent .hoverImage {
  cursor: pointer;
  position: relative;
}
.serviceSection .cardService .boxContent .hoverImage img {
  width: 100%;
  height: 200px;
}
.serviceSection .cardService .boxContent .hoverImage .bgHover {
  opacity: 0;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3960784314);
}
.serviceSection .cardService .boxContent .hoverImage a {
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  white-space: nowrap;
  text-decoration: none;
  color: white;
  padding: 2.6666666667vw 16vw;
  font-size: 4.2666666667vw;
  border: 1px solid white;
  border-radius: 12px;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  -ms-border-radius: 12px;
  -o-border-radius: 12px;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
}
.serviceSection .cardService .boxContent .hoverImage:hover a,
.serviceSection .cardService .boxContent .hoverImage:hover .bgHover {
  opacity: 1;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
}
.serviceSection .cardService .boxContent p {
  font-weight: 700;
}
.serviceSection .btnSeeMoreSrvices {
  cursor: pointer;
  width: 100%;
  margin: 13.3333333333vw 0 0;
  display: flex;
}
.serviceSection .btnSeeMoreSrvices a {
  text-decoration: none;
  font-size: 5.3333333333vw;
  padding: 2.6666666667vw 8vw;
  border-radius: 6px;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  -ms-border-radius: 12px;
  -o-border-radius: 12px;
  background-color: #721F31;
  color: white;
  margin: 0 auto;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
}
.serviceSection .btnSeeMoreSrvices a:hover {
  color: #721F31;
  background-color: white;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
}

@media (min-width: 766px) and (max-width: 1199px) {
  .serviceSection {
    padding: 2.3980815348vw 0;
  }
  .serviceSection .filterLable {
    padding: 1.6786570743vw 0;
    gap: 1.1990407674vw;
  }
  .serviceSection .filterLable p {
    padding: 0.2398081535vw 0;
    font-size: 1.9184652278vw;
  }
  .serviceSection .cardService {
    display: flex;
    gap: 30px 20px;
    flex-wrap: wrap;
  }
  .serviceSection .cardService .boxContent {
    width: calc(50% - 10px);
  }
  .serviceSection .cardService .boxContent .hoverImage a {
    padding: 1.1990407674vw 7.1942446043vw;
    font-size: 1.9184652278vw;
  }
  .serviceSection .btnSeeMoreSrvices {
    margin: 5.9952038369vw 0;
  }
  .serviceSection .btnSeeMoreSrvices a {
    font-size: 2.3980815348vw;
    padding: 1.1990407674vw 3.5971223022vw;
  }
}
@media (min-width: 1200px) {
  .serviceSection {
    padding: 5.2083333333vw 0 0;
  }
  .serviceSection h3 {
    font-size: 2.96875vw;
  }
  .serviceSection p {
    font-size: 1.7708333333vw;
  }
  .serviceSection .filterLable {
    padding: 0.8333333333vw 0;
    gap: 0.7291666667vw;
    margin-bottom: 1.0416666667vw;
  }
  .serviceSection .filterLable p {
    padding: 0.3125vw 0;
    font-size: 1.0416666667vw;
  }
  .serviceSection .cardService {
    display: flex;
    gap: 30px 20px;
    flex-wrap: wrap;
  }
  .serviceSection .cardService .boxContent {
    width: calc(50% - 10px);
  }
  .serviceSection .cardService .boxContent .hoverImage img {
    height: 300px;
  }
  .serviceSection .cardService .boxContent .hoverImage a {
    padding: 0.5208333333vw 3.125vw;
    font-size: 1.7708333333vw;
  }
  .serviceSection .btnSeeMoreSrvices {
    margin: 4.1666666667vw 0;
  }
  .serviceSection .btnSeeMoreSrvices a {
    font-size: 1.7708333333vw;
    padding: 0.5208333333vw 1.5625vw;
  }
}
.singleService {
  padding: 8vw 0 0;
}
.singleService .boxcontent img {
  width: 100%;
}
.singleService .boxcontent h1 {
  font-size: 6.9333333333vw;
  line-height: 30px;
}
.singleService .boxcontent p {
  font-size: 3.7333333333vw;
  font-weight: 600;
  margin-bottom: 10px;
}
.singleService .boxcontent ul {
  padding-left: 20px;
  margin-top: 20px;
}
.singleService .boxcontent .btnSubmit {
  margin-top: 10.6666666667vw;
  width: 100%;
  display: flex;
  gap: 12px;
}
.singleService .boxcontent .btnSubmit a {
  font-size: 4.2666666667vw;
  text-decoration: none;
  padding: 2.1333333333vw 3.2vw;
  border-radius: 6px;
  cursor: pointer;
}
.singleService .boxcontent .btnSubmit a:nth-child(1) {
  background-color: #721F31;
  color: white;
}
.singleService .boxcontent .btnSubmit a:nth-child(2) {
  background-color: white;
  color: #721F31;
}
.singleService .boxcontent .btnSubmit a:nth-child(2),
.singleService .boxcontent .btnSubmit a:nth-child(1) {
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
}
.singleService .boxcontent .btnSubmit a:nth-child(1):hover {
  background-color: white;
  color: #721F31;
}
.singleService .boxcontent .btnSubmit a:nth-child(2):hover {
  background-color: #721F31;
  color: white;
}
.singleService .boxcontent .btnSubmit a:nth-child(2):hover,
.singleService .boxcontent .btnSubmit a:nth-child(1):hover {
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
}

@media (min-width: 766px) and (max-width: 1199px) {
  .singleService {
    padding: 3.5971223022vw 0 0;
  }
  .singleService .boxcontent img {
    width: 100%;
  }
  .singleService .boxcontent h1 {
    font-size: 3.1175059952vw;
  }
  .singleService .boxcontent p {
    font-size: 1.6786570743vw;
  }
  .singleService .boxcontent ul {
    margin-top: 10px;
  }
  .singleService .boxcontent .btnSubmit {
    margin-top: 4.7961630695vw;
  }
  .singleService .boxcontent .btnSubmit a {
    font-size: 2.1582733813vw;
    padding: 0.7194244604vw 1.4388489209vw;
  }
}
@media (min-width: 1200px) {
  .singleService {
    padding: 3.6458333333vw 0 0;
    display: grid;
    grid-template-columns: auto auto;
    align-items: start;
    gap: 20px;
  }
  .singleService .boxcontent img {
    width: 100%;
  }
  .singleService .boxcontent h1 {
    font-size: 1.9791666667vw;
    line-height: 30px;
  }
  .singleService .boxcontent p {
    font-size: 1.09375vw;
    font-weight: 600;
    margin-bottom: 10px;
  }
  .singleService .boxcontent ul li {
    font-size: 1.25vw;
    margin-bottom: 0.625vw;
  }
  .singleService .boxcontent .btnSubmit {
    margin-top: 2.0833333333vw;
  }
  .singleService .boxcontent .btnSubmit a {
    font-size: 1.25vw;
    padding: 0.625vw;
  }
}
.otherServices {
  padding: 8vw 0 0;
}
.otherServices h3 {
  font-size: 6.9333333333vw;
}
.otherServices p {
  margin-bottom: 30px;
}
.otherServices .sliderServices {
  display: flex;
  gap: 20px;
  width: 100%;
  overflow-x: scroll;
}
.otherServices .sliderServices .boxContent {
  cursor: pointer;
  position: relative;
  text-align: center;
}
.otherServices .sliderServices .boxContent img {
  width: 90.6666666667vw;
  border-radius: 16px;
}
.otherServices .sliderServices .boxContent .hoverImage .bgHover {
  opacity: 0;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3960784314);
}
.otherServices .sliderServices .boxContent .hoverImage a {
  opacity: 0;
  position: absolute;
  top: 37%;
  left: 50%;
  transform: translate(-50%, -50%);
  white-space: nowrap;
  text-decoration: none;
  color: white;
  padding: 2.6666666667vw 16vw;
  font-size: 4.2666666667vw;
  border: 1px solid white;
  border-radius: 12px;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  -ms-border-radius: 12px;
  -o-border-radius: 12px;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
}
.otherServices .sliderServices .boxContent .hoverImage:hover a,
.otherServices .sliderServices .boxContent .hoverImage:hover .bgHover {
  opacity: 1;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
}

@media (min-width: 766px) and (max-width: 1199px) {
  .otherServices {
    padding: 3.5971223022vw 0;
  }
  .otherServices h3 {
    font-size: 3.1175059952vw;
  }
  .otherServices .sliderServices .boxContent img {
    width: 40.7673860911vw;
  }
  .otherServices .sliderServices .boxContent .hoverImage a {
    padding: 1.1990407674vw 7.1942446043vw;
    font-size: 1.9184652278vw;
  }
}
@media (min-width: 1200px) {
  .otherServices {
    padding: 1.5625vw 0;
  }
  .otherServices h3 {
    font-size: 1.9791666667vw;
  }
  .otherServices p {
    font-size: 1.25vw;
  }
  .otherServices .sliderServices .boxContent img {
    width: 26.5625vw;
  }
  .otherServices .sliderServices .boxContent .hoverImage a {
    padding: 0.5208333333vw 3.125vw;
    font-size: 1.7708333333vw;
  }
}
.someofOurProjects {
  padding: 8vw 0;
}
.someofOurProjects h3 {
  font-size: 6.9333333333vw;
}
.someofOurProjects .projectShow {
  display: flex;
  width: 100%;
  overflow-x: scroll;
}
.someofOurProjects .projectShow::-webkit-scrollbar {
  display: none;
}
.someofOurProjects .projectShow img {
  width: 40vw;
  height: auto;
  filter: brightness(0.5);
  -webkit-filter: brightness(0.5);
}
.someofOurProjects .projectShow img:hover {
  filter: brightness(1);
  -webkit-filter: brightness(1);
}

@media (min-width: 766px) and (max-width: 1199px) {
  .someofOurProjects {
    padding: 3.5971223022vw 0;
  }
  .someofOurProjects h3 {
    font-size: 3.1175059952vw;
  }
  .someofOurProjects .projectShow {
    margin-top: 2.3980815348vw;
  }
  .someofOurProjects .projectShow img {
    width: 17.9856115108vw;
  }
}
@media (min-width: 1200px) {
  .someofOurProjects {
    padding: 1.5625vw 0;
  }
  .someofOurProjects h3 {
    font-size: 1.9791666667vw;
  }
  .someofOurProjects p {
    font-size: 1.25vw;
  }
  .someofOurProjects .projectShow {
    justify-content: space-between;
    margin-top: 1.0416666667vw;
    gap: 100px;
  }
  .someofOurProjects .projectShow img {
    width: 7.8125vw;
  }
}
.achievements {
  padding: 5.3333333333vw 0;
}
.achievements h3 {
  margin-bottom: 5.3333333333vw;
}
.achievements .cardAchievements .boxContent {
  text-align: center;
  border-radius: 20px;
  padding: 20px;
  margin-bottom: 20px;
}
.achievements .cardAchievements .boxContent img {
  width: 70px;
  height: auto;
}
.achievements .cardAchievements .boxContent p {
  font-weight: 600;
}
.achievements .cardAchievements .boxContent p:nth-child(3) {
  font-size: 6.6666666667vw;
}

@media (min-width: 766px) and (max-width: 1199px) {
  .achievements {
    padding: 2.3980815348vw 0;
  }
  .achievements h3 {
    margin-bottom: 2.3980815348vw;
  }
  .achievements .cardAchievements {
    display: flex;
    align-items: center;
    gap: 30px 20px;
  }
  .achievements .cardAchievements .boxContent {
    width: calc(50% - 10px);
  }
  .achievements .cardAchievements .boxContent p {
    font-weight: 600;
  }
  .achievements .cardAchievements .boxContent p:nth-child(3) {
    font-size: 2.9976019185vw;
  }
}
@media (min-width: 1200px) {
  .achievements {
    padding: 1.0416666667vw 0;
  }
  .achievements h3 {
    margin-bottom: 1.5625vw;
    font-size: 2.96875vw;
  }
  .achievements .cardAchievements {
    display: flex;
    align-items: center;
    gap: 30px 20px;
  }
  .achievements .cardAchievements .boxContent {
    width: calc(50% - 10px);
  }
  .achievements .cardAchievements .boxContent img {
    width: 100px;
    height: auto;
  }
  .achievements .cardAchievements .boxContent p {
    font-size: 1.5625vw;
  }
  .achievements .cardAchievements .boxContent p:nth-child(3) {
    font-size: 3.6458333333vw;
  }
}
.maintenanceAndModification {
  padding: 5.3333333333vw 0;
  text-align: center;
}
.maintenanceAndModification .boxContent {
  margin: 5.3333333333vw 0;
}
.maintenanceAndModification .boxContent .priceAfterDiscount {
  position: relative;
  background: rgb(51, 41, 215);
  padding: 20px;
  border-radius: 12px;
}
.maintenanceAndModification .boxContent .priceAfterDiscount p {
  font-size: 5.8666666667vw;
  font-weight: 700;
}
.maintenanceAndModification .boxContent .boxListServices {
  background-color: rgb(37, 37, 37);
  padding: 5.3333333333vw;
  border-radius: 12px;
}
.maintenanceAndModification .boxContent .boxListServices .listContent {
  cursor: pointer;
  margin-bottom: 20px;
}
.maintenanceAndModification .boxContent .boxListServices .listContent img {
  width: 18.6666666667vw;
  height: auto;
  filter: brightness(0.5);
  -webkit-filter: brightness(0.5);
  transition: all 0.7s ease-in-out;
  -webkit-transition: all 0.7s ease-in-out;
  -moz-transition: all 0.7s ease-in-out;
  -ms-transition: all 0.7s ease-in-out;
  -o-transition: all 0.7s ease-in-out;
}
.maintenanceAndModification .boxContent .boxListServices .listContent p {
  font-size: 5.3333333333vw;
  font-weight: 700;
  color: #808080;
  transition: all 0.7s ease-in-out;
  -webkit-transition: all 0.7s ease-in-out;
  -moz-transition: all 0.7s ease-in-out;
  -ms-transition: all 0.7s ease-in-out;
  -o-transition: all 0.7s ease-in-out;
}
.maintenanceAndModification .boxContent .boxListServices .listContent:hover img {
  filter: brightness(0.8);
  -webkit-filter: brightness(0.8);
  transition: all 0.7s ease-in-out;
  -webkit-transition: all 0.7s ease-in-out;
  -moz-transition: all 0.7s ease-in-out;
  -ms-transition: all 0.7s ease-in-out;
  -o-transition: all 0.7s ease-in-out;
}
.maintenanceAndModification .boxContent .boxListServices .listContent:hover p {
  color: rgba(255, 255, 255, 0.8);
  transition: all 0.7s ease-in-out;
  -webkit-transition: all 0.7s ease-in-out;
  -moz-transition: all 0.7s ease-in-out;
  -ms-transition: all 0.7s ease-in-out;
  -o-transition: all 0.7s ease-in-out;
}

@media (min-width: 766px) and (max-width: 1199px) {
  .maintenanceAndModification {
    padding: 2.3980815348vw 0;
  }
  .maintenanceAndModification .boxContent {
    margin: 2.3980815348vw 0;
  }
  .maintenanceAndModification .boxContent .priceAfterDiscount {
    width: 80%;
    margin: 0 auto;
  }
  .maintenanceAndModification .boxContent .priceAfterDiscount p {
    font-size: 2.8776978417vw;
  }
  .maintenanceAndModification .boxContent .boxListServices {
    padding: 9.5923261391vw 2.3980815348vw 2.3980815348vw;
    margin-top: -3.8369304556vw;
    display: flex;
    align-items: center;
    gap: 30px 20px;
  }
  .maintenanceAndModification .boxContent .boxListServices .listContent {
    width: 50%;
  }
  .maintenanceAndModification .boxContent .boxListServices .listContent img {
    width: 11.9904076739vw;
  }
  .maintenanceAndModification .boxContent .boxListServices .listContent p {
    font-size: 2.3980815348vw;
  }
}
@media (min-width: 1200px) {
  .maintenanceAndModification {
    padding: 2.0833333333vw 0;
  }
  .maintenanceAndModification h3 {
    font-size: 2.96875vw;
  }
  .maintenanceAndModification p {
    font-size: 1.7708333333vw;
  }
  .maintenanceAndModification .boxContent {
    margin: 1.0416666667vw 0;
  }
  .maintenanceAndModification .boxContent .priceAfterDiscount {
    width: 80%;
    margin: 0 auto;
  }
  .maintenanceAndModification .boxContent .priceAfterDiscount p {
    font-size: 2.4479166667vw;
  }
  .maintenanceAndModification .boxContent .boxListServices {
    padding: 5.7291666667vw 1.0416666667vw 1.5625vw;
    margin-top: -3.2291666667vw;
    display: flex;
    align-items: center;
    gap: 30px 20px;
  }
  .maintenanceAndModification .boxContent .boxListServices .listContent {
    width: 50%;
  }
  .maintenanceAndModification .boxContent .boxListServices .listContent img {
    width: 6.25vw;
  }
  .maintenanceAndModification .boxContent .boxListServices .listContent p {
    font-size: 1.8229166667vw;
  }
}
.contactUsForm {
  padding: 0 0 5.3333333333vw;
}
.contactUsForm h3 {
  margin-bottom: 12px;
}
.contactUsForm .formContactUs .inputField .label {
  margin-bottom: 3.7333333333vw;
}
.contactUsForm .formContactUs .inputField .label ul {
  position: absolute;
  background: #000000;
  padding: 2.6666666667vw;
  border-radius: 0 0 12px 12px;
  -webkit-border-radius: 0 0 12px 12px;
  -moz-border-radius: 0 0 12px 12px;
  -ms-border-radius: 0 0 12px 12px;
  -o-border-radius: 0 0 12px 12px;
}
.contactUsForm .formContactUs .inputField .label ul li {
  cursor: pointer;
  list-style-type: none;
  margin: 2.6666666667vw 0;
}
.contactUsForm .formContactUs .inputField label {
  display: block;
  margin-bottom: 2.6666666667vw;
  font-size: 4.2666666667vw;
  font-weight: 700;
}
.contactUsForm .formContactUs .inputField input {
  width: 100%;
  height: 40px;
  border: 1px solid gray;
  padding: 0 10px;
  background: #242424;
  border-radius: 6px;
  color: white;
}
.contactUsForm .formContactUs .inputField input:focus {
  outline: none;
}
.contactUsForm .formContactUs .inputFieldTextarea {
  margin-bottom: 20px;
}
.contactUsForm .formContactUs .inputFieldTextarea textarea {
  width: 100%;
  height: 80vw;
  border: 1px solid gray;
  padding: 0 10px;
  background: #242424;
  border-radius: 6px;
  color: white;
  margin-top: 2.6666666667vw;
}
.contactUsForm .formContactUs .inputFieldTextarea textarea:focus {
  outline: none;
}
.contactUsForm .formContactUs .btnSubmitRequest {
  display: flex;
  align-items: center;
  justify-content: center;
}
.contactUsForm .formContactUs .btnSubmitRequest a {
  text-decoration: none;
  font-size: 5.3333333333vw;
  padding: 2.6666666667vw 8vw;
  border-radius: 6px;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  -ms-border-radius: 12px;
  -o-border-radius: 12px;
  background-color: #721F31;
  color: white;
  margin: 0 auto;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
}
.contactUsForm .formContactUs .btnSubmitRequest a:hover {
  color: #721F31;
  background-color: white;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
}

@media (min-width: 766px) and (max-width: 1199px) {
  .contactUsForm {
    padding: 2.3980815348vw 0;
  }
  .contactUsForm .formContactUs .inputField {
    display: flex;
    gap: 30px 20px;
  }
  .contactUsForm .formContactUs .inputField .label {
    width: 50%;
    margin-bottom: 1.6786570743vw;
  }
  .contactUsForm .formContactUs .inputField .label ul {
    padding: 1.1990407674vw;
  }
  .contactUsForm .formContactUs .inputField .label ul li {
    margin: 1.1990407674vw 0;
  }
  .contactUsForm .formContactUs .inputField label {
    margin-bottom: 1.1990407674vw;
    font-size: 1.9184652278vw;
  }
  .contactUsForm .formContactUs .inputFieldTextarea textarea {
    width: 100%;
    height: 35.9712230216vw;
    border: 1px solid gray;
    padding: 0 10px;
    background: #242424;
    border-radius: 6px;
    color: white;
    margin-top: 1.1990407674vw;
  }
  .contactUsForm .formContactUs .btnSubmitRequest a {
    font-size: 2.3980815348vw;
    padding: 1.1990407674vw 3.5971223022vw;
  }
}
@media (min-width: 1200px) {
  .contactUsForm {
    padding: 2.0833333333vw 0;
  }
  .contactUsForm h3 {
    font-size: 2.96875vw;
  }
  .contactUsForm .formContactUs .inputField {
    display: flex;
    gap: 30px 20px;
  }
  .contactUsForm .formContactUs .inputField .label {
    width: 50%;
    margin-bottom: 0.7291666667vw;
  }
  .contactUsForm .formContactUs .inputField .label ul {
    padding: 0.5208333333vw;
  }
  .contactUsForm .formContactUs .inputField .label ul li {
    margin: 0.5208333333vw 0;
  }
  .contactUsForm .formContactUs .inputField label {
    margin-bottom: 0.5208333333vw;
    font-size: 18px;
  }
  .contactUsForm .formContactUs .inputFieldTextarea textarea {
    width: 100%;
    height: 15.625vw;
    margin-top: 0.5208333333vw;
  }
  .contactUsForm .formContactUs .btnSubmitRequest a {
    font-size: 1.7708333333vw;
    padding: 0.5208333333vw 1.5625vw;
  }
}
.sliderTopAllPage {
  height: 53.3333333333vw;
  background-color: #353535;
}
.sliderTopAllPage .swiper-wrapper {
  height: 53.3333333333vw;
}
.sliderTopAllPage .swiper-slide img {
  width: 100%;
  height: 100%;
}
.sliderTopAllPage .swiper-button-prev,
.sliderTopAllPage .swiper-button-next {
  color: #721F31;
}

@media (min-width: 766px) and (max-width: 1199px) {
  .sliderTopAllPage {
    height: 23.9808153477vw;
  }
  .sliderTopAllPage .swiper-wrapper {
    height: 23.9808153477vw;
  }
}
@media (min-width: 1200px) {
  .sliderTopAllPage {
    height: 20.8333333333vw;
  }
  .sliderTopAllPage .swiper-wrapper {
    height: 20.8333333333vw;
  }
}
.submissionContactForm {
  padding: 10.6666666667vw 0;
}
.submissionContactForm h1 {
  font-size: 6.6666666667vw;
  margin-bottom: 2.6666666667vw;
}
.submissionContactForm p {
  font-size: 4.2666666667vw;
}

@media (min-width: 766px) and (max-width: 1199px) {
  .submissionContactForm {
    padding: 4.7961630695vw 0 2.3980815348vw;
  }
  .submissionContactForm h1 {
    font-size: 2.9976019185vw;
    margin-bottom: 1.1990407674vw;
  }
  .submissionContactForm p {
    font-size: 1.9184652278vw;
  }
}
@media (min-width: 1200px) {
  .submissionContactForm {
    padding: 2.0833333333vw 0 0;
  }
  .submissionContactForm h1 {
    font-size: 2.6041666667vw;
    margin-bottom: 1.0416666667vw;
  }
  .submissionContactForm p {
    width: 52.0833333333vw;
    font-size: 1.3541666667vw;
  }
}
.footer {
  padding: 20px 0;
  background-color: #721F31;
  margin-top: 30px;
}
.footer .footerFlex {
  display: grid;
  grid-template-columns: auto auto;
  gap: 4vw 2.6666666667vw;
}
.footer .logoFooter {
  margin-bottom: 5.3333333333vw;
}
.footer .logoFooter img {
  width: 26.6666666667vw;
  height: auto;
}
.footer .logoFooter p {
  width: 48vw;
  font-weight: 700;
}
.footer .listLink {
  margin-bottom: 5.3333333333vw;
}
.footer .listLink p {
  font-size: 5.3333333333vw;
  font-weight: 700;
}
.footer .listLink ul li {
  list-style-type: none;
  cursor: pointer;
  font-size: 4.2666666667vw;
}
.footer .listLink ul li a {
  text-decoration: none;
  color: white;
  font-size: 4.2666666667vw;
}
.footer .copyRight {
  width: 100%;
}
.footer .copyRight p {
  text-align: center;
  font-weight: 700;
  font-size: 4.2666666667vw;
  margin: 20px 0 10px;
}

@media (min-width: 766px) and (max-width: 1199px) {
  .footer .footerFlex {
    gap: 1.7985611511vw 1.1990407674vw;
  }
  .footer .logoFooter {
    margin-bottom: 2.3980815348vw;
  }
  .footer .logoFooter img {
    width: 11.9904076739vw;
    height: auto;
  }
  .footer .listLink {
    margin-bottom: 2.3980815348vw;
  }
  .footer .listLink p {
    font-size: 2.8776978417vw;
  }
  .footer .listLink ul li {
    list-style-type: none;
    cursor: pointer;
    font-size: 1.9184652278vw;
  }
  .footer .listLink ul li a {
    font-size: 1.9184652278vw;
  }
  .footer .copyRight p {
    font-size: 1.9184652278vw;
  }
}
@media (min-width: 1200px) {
  .footer .footerFlex {
    grid-template-columns: auto auto auto auto;
    gap: 0.78125vw 0.5208333333vw;
  }
  .footer .logoFooter {
    margin-bottom: 1.0416666667vw;
  }
  .footer .logoFooter p {
    width: 20.8333333333vw;
  }
  .footer .logoFooter img {
    width: 5.2083333333vw;
    height: auto;
  }
  .footer .listLink {
    margin-bottom: 1.0416666667vw;
  }
  .footer .listLink p {
    font-size: 2.34375vw;
  }
  .footer .listLink ul li {
    list-style-type: none;
    cursor: pointer;
    font-size: 0.9895833333vw;
  }
  .footer .listLink ul li a {
    font-size: 0.9895833333vw;
  }
  .footer .copyRight p {
    font-size: 0.9375vw;
  }
}